<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Envanter Aunde</title>
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/images/logos/EnvanterAunde.png")" />
    <link rel="stylesheet" href="@Url.Content("~/libs/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/styles.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/zero.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/plugins.min.css")" />

</head>